<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="login">login :</label><br>
        <input type="login" name="login" required><br>
        <label for="email">email :</label><br>
        <input type="email" name="email" required><br>
        <label for="pwd">password :</label><br>
        <input type="password" name="pwd" required><br>
        <label for="confirm_pwd">password confirm :</label><br>
        <input type="password" name="confirm_pwd" required><br>
        <input type="submit" value="save">
        <button><a href="/login">login</a></button>
    </form>
</body>
</html>
